<ion-view id="consultants" title="Consultants">
    <ion-content class="has-header">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="actionRefresh()">
        </ion-refresher>
        <ion-list>
            <div class="item item-input-inset padding-0-vertical">
                <label class="item-input-wrapper">
                    <input class="width-100" type="text" ng-model="filter.searchText" placeholder="Consultant Name, Contact">
                </label>
                <button class="button button-dark button-clear" 
                   modal-select 
                   header-footer-class="bar-positive"
                   modal-title="Select a Project" 
                   ng-model="filter.project" 
                   options="filter.projectOptions">
                    Filter
                    <div class="option">
                        <h2>{{option.Name}}</h2>
                        <small class="block-nowrap-ellipsis">
                            {{option.Location || '&nbsp;'}}
                        </small>
                    </div>
                </button>
            </div>
            <div class="item padding-xs-vertical" ng-if="filter.toString()">
                <small>Filters: {{filter.toString()}}</small>
            </div>
            <div ng-if="getShowNoResultsFound()" class="ion-content-noresultsfound-container">
                <strong class="ion-content-noresultsfound">No Results Found.</strong>
            </div>
            <div ng-if="getShowLoading()" class="ion-content-loading-container">
                <strong class="ion-content-loading">Loading...</strong>
            </div>
            <div class="card" collection-repeat="item in getItems()" item-render-buffer="8" item-width="getItemWidth($index)" item-height="getItemHeight($index, true)" ng-style="{height: getItemHeight($index, false), left:0, right:0}" ng-click="actionItemClick($index)">
                   <a class="item item-icon-left item-avatar-left">
                    <img ng-src="{{item.AvatarResourceKey | relativeResource : 'AvatarSmall'}}">
                    <p><strong>{{item.FullName}}</strong></p>
                    <p>
                        <small  ng-if="item.Phones | firstValidPhone">
                            {{item.Phones | firstValidPhone : 'Value' : '' }}
                        </small>
                        <small ng-if="item.Emails | firstValidElement">
                            {{item.Emails | firstValidElement : 'Value' : '' }}
                        </small>
                    </p>
                </a>
        </ion-list>
    </ion-content>
</ion-view>