<ion-view id="project" title="Project">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="actionRefresh()">
        </ion-refresher>
        <ion-list>
            <div class="card">
                <div class="item item-image">
                    <div lowres='{{item.PictureLargeResourceKey}}' 
                         hires='{{item.PictureLargeResourceKey}}' 
                         ng-style="{width: getImageWidth(), height: getImageHeight(), 'background-image':'url('+(null | relativeResource)+')'}">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap" bind-html-compile="item.ProjectTemplate | convertToInAppBrowserLink"></div>
            </div>
            <div class="card">
                <div class="item padding-0">
                    <div class="row padding-0">
                        <div class="col padding-0">
                            
                        </div>
                        <div class="col padding-0">
                            
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>

<!--
<ion-view view-title="Project" id="project">
    <ion-content >
        <div class="content" ng-class="{'contentReady':contentReady, 'animated':contentAnimated, 'fadeInUp':contentAnimated}">
            <img class="view-center-thumb padding-top" ng-src="{{project.logo}}">
            <div class="list card line-card-image">
                <img ng-src="{{property.PictureLargeResourceKey || 'img/placeholder_general_lg.png'}}" class="full-img-responsive">
            </div>
            <div class="list card learn-more-container" ng-class="{'tooshort':learnmoretooshort, 'expanded':expanded}">
                <div class="item-body" bind-html-compile="property.ProjectTemplate | process_link">
                </div>
                <button class="learn-more-button button button-full button-positive footer-button" ng-click="learnmore()">
                    LEARN MORE
                </button>
                <div class="learn-more-overlay"></div>
            </div>
            <div class="list card">
                <div class="item padding-0">
                    <div class="row padding-0">
                        <a ng-href="#/app/propertygallery/{{property.ProjectId}}" class="col  text-center bg-image-button gallery-bg-button">
                            <div class="responsive-container">
                                <canvas width=504 height=291></canvas>
                            </div>
                        </a>
                        <a ng-href="#/app/propertylocation/{{property.ProjectId}}" class="col  left-border text-center bg-image-button location-bg-button">
                            <div class="responsive-container">
                                <canvas width=504 height=291></canvas>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="padding-horizontal">
                <a href="#/app/consultants/where-project/{{property.ProjectId}}" class="button button-block button-balanced">FIND A CONSULTANT</a>
            </div>
            <div class="list card padding-md fadeIn animated" ng-if="rate">
                <rate-widget rate="rate"></rate-widget>
            </div>
            
            <div class="padding-horizontal">
                <a ng-href="#/app/propertyreview/{{property.ProjectId}}" class="button button-block button-positive">SUBMIT REVIEW</a>
            </div>
            

        </div>
    </ion-content>
</ion-view>-->
