<ion-view title="Properties" id="projects">
    <ion-content class="has-header">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="actionRefresh()">
        </ion-refresher>
        <div class="item item-input-inset padding-0-vertical">
            <label class="item-input-wrapper">
                <input class="width-100" type="text" ng-model="filter.searchText" placeholder="Project Name, Address">
            </label>
            <button class="button button-dark button-clear" 
               modal-select 
               header-footer-class="bar-positive"
               modal-title="Select a Project Type" 
               ng-model="filter.propertyTypeDesc" 
               options="filter.propertyTypeDescOptions">
                Filter
                <div class="option">
                    <h2>{{option}}</h2>
                </div>
            </button>
        </div>
        <div class="item padding-xs-vertical" ng-if="filter.toString()">
            <small>Filters: {{filter.toString()}}</small>
        </div>
        <div ng-if="getShowNoResultsFound()" class="ion-content-noresultsfound-container">
            <strong class="ion-content-noresultsfound">No Properties Found.</strong>
        </div>
        <div ng-if="getShowLoading()" class="ion-content-loading-container">
            <strong class="ion-content-loading">Loading...</strong>
        </div>
        <ion-list>
            <div class="card" collection-repeat="item in getItems()" 
                 item-render-buffer="2"
                 item-width="getItemWidth($index, false)" 
                 item-height="getItemHeight($index, true)"
                 ng-style="{height: getItemHeight($index, false), left:0, right:0}"
                 ng-click="actionItemClick($index)"
                 >
                <div class="item item-image">
                    <div tiny-background-image-lowres='{{item.PictureSmallResourceKey}}' 
                         tiny-background-image-hires='{{item.PictureLargeResourceKey}}' 
                         ng-style="{width: getImageWidth($index), height: getImageHeight($index), 'background-image':'url('+(item.PictureSmallResourceKey | relativeResource)+')'}">
                    </div>
                </div>
                <div class="item item-icon-right">
                    <p><b>{{item.Name}}</b></p>
                    <small class="block-nowrap-ellipsis font-size-75">
                        {{item.Location}}
                    </small>
                    <a ng-click="actionShare($index)"><i class="icon ion-android-share-alt icon-left-border"></i></a>
                </div>
            </div>
        </ion-list>
        <div class="ion-content-scroll-bottom-filler"></div>
    </ion-content>
</ion-view>